<!-- Top Navigation Menu -->
<nav class="top-menu-standard slide-in-down" data-scrolldown-class="reduced">

    <!-- Top Menu Contents -->
    <div>

        <!-- Logo -->
        <div class="menu-logo">
            <a href="/">
                <img src="/Assets/Images/logo-text.png" />
            </a>
        </div>

        <!-- Menu Icon -->
        <div class="menu-icon">
            <a href="#topmenu" data-toggle-class="expanded">
                <i class="ion-navicon-round"></i>
            </a>
        </div>

        <!-- Menu items -->
        <ul data-topmenu-class="expanded">
            <li>
                <a href="/documentation">docs</a>
            </li>
            <li>
                <a href="/changelog">changelog</a>
            </li>
            <li>
                <a href="/download">download</a>
            </li>
            <li>
                <a href="https://www.github.com/angelsix/dna-web" target="_blank">source</a>
            </li>
        </ul>

    </div>

</nav>

<main class="download">

    <!-- Download -->
    <section class="container single-vcenter">
        <div class="grid-wrapper">
            <div class="grid">
                <div class="col">
                    <header class="faded" data-delay-add="slide-in-up-group" data-delay="1">
                        <h1>It's Go Time!</h1>
                        <p>Get ready to develop websites<br>like you never have before</p>
                        <p><a class="button" href="/download/win32">Download Windows (32 bit)</a></p>
                        <p><a class="button" href="/download/win64">Download Windows (64 bit)</a></p>
                    </header>
                </div>
            </div>
        </div>
    </section>

</main>


