<!-- Top Navigation Menu -->
<nav class="top-menu-standard slide-in-down" data-scrolldown-class="reduced">

    <!-- Top Menu Contents -->
    <div>

        <!-- Logo -->
        <div class="menu-logo">
            <a href="/">
                <img src="/Assets/Images/logo-text.png" />
            </a>
        </div>

        <!-- Menu Icon -->
        <div class="menu-icon">
            <a href="#topmenu" data-toggle-class="expanded">
                <i class="ion-navicon-round"></i>
            </a>
        </div>

        <!-- Menu items -->
        <ul data-topmenu-class="expanded">
            <li>
                <a href="/documentation">docs</a>
            </li>
            <li>
                <a href="/changelog">changelog</a>
            </li>
            <li>
                <a href="/download">download</a>
            </li>
            <li>
                <a href="https://www.github.com/angelsix/dna-web" target="_blank">source</a>
            </li>
        </ul>

    </div>

</nav>

<main class="home">

    <!-- home splash -->
    <section class="home-splash container single-vcenter">
        <div class="grid-wrapper">
            <div class="grid">
                <div class="col">
                    <header class="faded" data-delay-add="slide-in-up-group" data-delay="1">
                        <div class="logo-background"></div>
                        <p>a modern platform for
                            <br>complete web development</p>
                    </header>
                </div>
            </div>
        </div>
    </section>

    <!-- Fullscreen image splash -->
    <section class="image-splash">
        <div class="faded slower" data-scroll-into-view="slide-fade-in"></div>
    </section>

    <!-- Blog details list -->
    <section class="home-list container single-vcenter">
        <div class="grid-wrapper">
            <div class="grid">
                <div class="col">
                    <header class="will-slide-in-up" data-scroll-into-view="slide-in-up-group">
                        <h1>Quick. Easy. Free</h1>
                        <p>
                            <strong>SASS</strong> engine for css</p>
                        <p>
                            <strong>DHTML</strong> for powerful HTML</p>
                        <p>
                            <strong>JavaScript</strong> for scripting</p>
                        <p>
                            <strong>Live Server</strong> for instant live preview</p>
                        <p>
                            <strong>Partials, Variables, Includes</strong> for power</p>
                        <p>
                            <strong>Templates, C#, Custom Engines</strong> and more</p>
                    </header>
                </div>
            </div>
        </div>
    </section>

    <!-- Free knowledge -->
    <section class="free-knowledge container single-vcenter">
        <div class="grid-wrapper">
            <div class="grid">
                <div class="col">
                    <header class="will-slide-in-up" data-scroll-into-view="slide-in-up-group">
                        <h1>&ldquo;Sure I can go for that&rdquo;</h1>
                        <a class="button" href="/download">Download Now</a>
                    </header>
                </div>
            </div>
        </div>
    </section>

</main>


