<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DnaWeb - A modern web platform</title>
    <link href="/Assets/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Assets/Css/modern1.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Assets/Js/dna.core.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.scroll.core.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.delay.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.scroll.scrolldown.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.scroll.parallax.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.scroll.animatein.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.topmenu.js"></script>
    <script type="text/javascript" src="/Assets/Js/dna.particles.js"></script>
</head>

<body>

@RenderBody()
<!-- Footer -->
<section class="footer single-vcenter">
    <div class="grid-wrapper">
        <div class="grid horizontal-center">
            <div class="col one-quarter below-lap-one-third">
                <header>
                    <img src="/Assets/Images/logo-text.png" />
                    <p>&copy; AngelSix Ltd</p>
                </header>
            </div>
        </div>
    </div>
</section>

</body>

</html>

