
.home
{
    // All sections on blog page should fill the page at least
    // for a nice spaced out effect
    > section, > header
    {
        // Fill the page at least
        min-height: 100vh;
    }

    // Main header
    h1 
    {
        // Alternative color
        @extend h1.alternative;
    }

    .home-splash
    {        
        h1
        {            
            // Small bottom margin
            margin-bottom: $spacing-normal;
        }

        // Paragraph right after a header
        h1 + p
        {
            // No margin
            margin: 0;
        }
    }

        
    .image-splash
    {       
        > div
        {
            // Full height
            height: 100vh;

            // Fill
            background-size: cover;

            // Don't repeat image
            background-repeat: no-repeat;

            // Keep image top left
            background-position: top left;

            // Image background
            background-image: url('/Assets/Images/liveserver.png');        
        }
    }
    
    // Logo background
    .logo-background
    {
        // Make image inline, centered and responsive
        @extend .inline-whole-image;

        // Mascot background image
        background-image: url('/Assets/Images/logo.png');
    }

    // Match spacing between headers and paragraphs
    .free-knowledge { @extend .spaced-lines; }
}