$color1: rgba(22, 10, 41, 1) !default;
$color2: rgba(218, 37, 231, 1) !default;
$color3: rgba(92, 243, 255, 1) !default;
$color4: rgba(101, 14, 114, 1) !default;
$color5: rgba(11, 126, 243, 1) !default;
$color6: rgba(255, 255, 255, 1) !default;
$color7: rgba(13, 2, 30, 1) !default;
