{
  "comments": "
  
    To edit this file please open it as administrator
    
    monitor           Specifies the relative or absolute path to look for file changes
    generateOnStart   All/None, if All looks for and processes all files in the monitor folder on startup
    processAndClose   True/False, if True, as soon as the engines have spun up and done any 
                      generateOnStart work, the application then closes. Ideal for automated build servers
    logLevel          None/Minimal/Informative/All, the level of detail to output in the console log
    outputPath        Sets the output path for all Sass files, relative to this configuration files location
                      A blank string is same folder as original Sass file
                      . is the folder of this configuration file
                      .. is the folder above this configuration file
                      C:\\SomeFolder is an absolute file path
   liveServers        A list of directories (relative to the current configuration file)
                      to spin up. For example (replace single quotes with double):
                      
                      'liveServers': [ 'folder1', 'folder2' ]
                      
  ",

  "monitor": ".",
  "generateOnStart": "All",
  "processAndClose": "False",
  "logLevel": "Informative",
  "outputPath": ""
}