$color1: rgba(22, 10, 41, 1) !default;
$color2: rgba(71, 215, 249, 1) !default;
$color3: rgba(255, 150, 0, 1) !default;
$color4: rgba(0, 50, 100, 1) !default;
$color5: rgb(133, 255, 35) !default;
$color6: rgba(255, 255, 255, 1) !default;
$color7: rgba(0, 0, 0, 1) !default;